.main {
    display: flex;
    flex-direction: column;
}

.inputs {
    margin: 1em;
    display : flex;
    flex-direction: column;
}

.buttons {
    display : flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin : 1em;
}

.results {
    margin : 1em;
}